# Node
node_modules
package-lock.json
npm-debug.log
yarn-error.log

# Coverage
/coverage/lcov-report
/coverage/clover.xml
/coverage/coverage-final.json
/coverage/lcov.info

# ESlint
.eslintcache

#Docker-compose
docker-compose.yaml
docker-compose.yml